@media #{$screen} {
	
	#pageContent
	{
		.contacts
		{
			h1.title
			{
				color: $primary-color;
				border-bottom: 10px solid $light-grey;
				font-size: 2.8rem;
				padding-bottom: 10px;
			}

			h2
			{
				color : $primary-color;
				margin-bottom: 5px;
				font-size: 1.2rem;
				font-family: $font-family-sans-serif;
				text-transform: uppercase;
			}

			> ul > li
			{
				h3{ text-transform: uppercase; }

				h3, address
				{
					color : $body-font-color;
					margin-bottom: 5px;
					font-style: normal;
					font-family: $font-family-sans-serif;
				}

				p > a
				{
					color : $body-font-color;
					text-decoration: underline;
				}
			}
		}

		.googleMaps-container
		{
			margin: 2rem 0;

			h3
			{
				margin-left: 15px;
				margin-bottom: 5px;
				font-style: normal;
				font-family: $font-family-sans-serif;
				text-transform: uppercase;
			}
		}

		.contactForm
		{
			label.required
			{
				&:after
				{
					content: ' *';
					color : red;
				}
			}
		}
	}

	#map-canvas {

		width: 100%;
		height: 360px;
		margin-bottom: 30px;
		background: $light-grey;

		img {
			max-width: none;
		}

	}

	#mainContactForm {

		textarea {
			margin-bottom: 21px;
			min-height: 111px;
		}

	}


}