@media #{$screen} {


	// Main footer styles

	$socialIconSize: 32px;

	#siteFooter {

		// background: $light-grey;
		// min-height: 400px;

		.row{ padding: 40px 0; }

		h1, h2, h3, h4, h5, h6, p, address, a {
			color: $body-font-color;
		}

		h4 {
			font-size: 1rem;
			margin: 0 0 20px;
		}

		a {
			color: darken($light-grey, 20%);
			@include transition(color 0.4s);
			&:hover {
				color: $light-grey;
			}
		}

		.columns {
			margin-bottom: 30px;
		}

		a.follow {

			display: block;
			float: left;
			clear: left;
			vertical-align: top;
			margin-bottom: 15px;			
			font-size: 0.8rem;

			i {				

				display: block;
				float: left;
				width: $socialIconSize;
				height: $socialIconSize;
				border-radius: $socialIconSize/2;
				background: $light-grey;
				margin: 0 14px 0 0;
				color: $dark-grey;
				text-align: center;
				line-height: $socialIconSize;
				font-size: 1.3rem;
				@include transition(background 0.4s, color 0.4s);				

			}
			span {
				display: block;
				float: left;
				height: $socialIconSize;
				line-height: $socialIconSize;
			}
			&:hover {				
				i {
					background: $dark-grey;
					color: $light-grey;
				}
			}
		}

		nav {
			ul {
				list-style-type: none;
				margin: 0;
				li {
					ul {
						margin-left: 20px;
					}
				}
			}			
		}

		form {
			label {
				font-size: 0.8rem;
				margin-bottom: 4px;
				color: $light-grey;
			}
		}


		.footerContainer
		{
			margin: 0 5px;
			background: $white-smoke;
			text-align: center;
		}
	}
}


@media #{$medium} {

	#siteFooter
	{
		.columns
		{
			margin-bottom: 0;
		}

		img.logo
		{
			width: 100%;
			margin-top: 42px;
		}

		.contacts
		{
			margin-top: 15px;

			address
			{
				line-height: 1.8rem;
				font-style: normal;

				a{ color : $body-font-color; }
			}
		}

		.footerContainer{ text-align: left; }
	}

}