@media #{$screen} {

	#mainContentArea
	{
		padding: 25px 0;


		#leftHandContent
		{
			.panel
			{
				position: relative;
				min-height: 400px;

				h3
				{
					margin: 1rem 0 1.2rem;
					font-size: 1.7rem;
				}

				p
				{
					font-style : italic;

					a{ text-decoration: underline; }

				}
			}


			.list
			{
				margin-bottom: 25px;
				
				h3
				{
					color: $primary-color;
					font-size: 1.7rem;
					margin-bottom: 5px;
				}

				ul
				{
					margin: 0;
					padding: 0;
					list-style: none;

					li
					{
						margin: 0;
						padding: 0;

						&:before{ content : '- '; }
					}
				}
			}
		}
	}



	// All sections on front-psge

	.index {
		section {
			padding: 80px 0;
			h2 {
				font-size: 1.2rem;
			}
		}
	}


	// Frontpage module

	#news {
		.newsitem {
			margin: 0 0 40px 0;
			h3 {
				margin: 0 0 2px;

				a {
					color: $body-font-color;
					&:hover {
						color: $primary-color;
					}
				}

				+ .meta {
					display: inline-block;
					margin: 0 0 14px;
					font-size: 0.8rem;
					color: lighten($body-font-color, 40%);
				}
			}
		}
	}

}


@media #{$medium} {

	#mainContentArea
	{
		#leftHandContent
		{
			border-right: 1px solid $light-grey;

			#fpAbout
			{
				h2
				{
					font-size: 2.2rem;
					margin-bottom: 35px;
				}
			}
		}
	}
}

.img-wrapper{
	width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}