@media #{$screen}  {

	body
	{
		background: url(../images/norasenteret-background.jpg) repeat left top;

		.pageWrapper > .row, #siteFooter > .row
		{
			background: white;
		}
	}

	
	// Pageheader not visible for mobile - defined in medium block
	#pageHeader {
		display: none;
	}

	

	// Main content area for all pages except index.
	//
	// Contains general rules for spacing, textformatting etc.
	// Always starts with .breadcrumb as first block
	#pageContent
	{
		padding-bottom: 60px;

		> img:first-child { margin-bottom: 30px; }

		table
		{
			width: 100%;
			margin-bottom: 40px;
		}

		.theContent
		{
			margin-bottom: 40px;

			h1.title
			{
				color: $primary-color;
				margin-bottom : 20px;
				font-size: 2.8rem;
				font-family: $font-family-serif;
				font-weight: $font-weight-normal;
			}

			h1, h2, h3, h4, h5, h6
			{
				font-size: 1.15rem;
				margin-bottom : 0;
				font-family: $body-font-family;
				font-weight: $font-weight-bold;
			}

		}

		#leftHandContent
		{
			.panel{ min-height: 275px !important; }

			.main-image {
				margin-bottom: 8px;
				width: 100%;
			}
		}
	}




	// list used for news and references
	.imageList
	{
		> article
		{

			h2
			{
				color : $primary-color;
				font-size: 1.7rem;
				font-style: italic;
				font-weight: $font-weight-normal;
			}

			h3
			{
				margin: 0;
				font-size: 1.15rem;
				font-family: $font-family-sans-serif;
				font-weight: $font-weight-normal;
				text-transform: uppercase;
			}

			&.alpha
			{
				p { margin-bottom: 0; }
			}

			&:after
			{
				display: block;
				width: calc(100% - 30px);
				height: 20px;
				border-bottom: 1px solid $light-grey;
				margin: 0 $column-gutter/2 30px;
			}

			.imageCell
			{
				margin-bottom: 25px;
				text-align: center;
			}
		}
	}


	// News listview 
	#newsList {
		> article {
			h2 {
				margin: 0;

				+ span {
					display: inline-block;
					font-size: 0.8rem;
					color: lighten($body-font-color, 30%);
					margin: 0 0 20px;
				}
			}
		}
	}

	
	// References listview
	#referenceList {}


	// Top of detailviews
	//
	// Image with hidden lighbox gallery
	// Icon uses ionicons

	$galleryIconFrameSize: 40px;

	#galleryContainer {

		position: relative;
		margin-bottom: 30px;

		&:hover {
			span {
				color: rgba(255,255,255,0.95);
			}
			i {
				color: rgba(255,255,255,0.95);
			}
		}
		> button {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
			padding: 0 10px 0 0;
			border: none;
			height: $galleryIconFrameSize;
			background: rgba(0,0,0,0.5);
			pointer-events: none;

			> span {
				display: block;
				float: left;
				line-height: $galleryIconFrameSize;
				font-weight: $font-weight-normal;
				font-size: 0.8rem;
				padding: 0 10px 0 20px;
				color: rgba(255,255,255,0.6);
				@include transition(color 0.4s);
			}
			
			i {
				display: block;
				float: left;
				width: $galleryIconFrameSize;
				height: $galleryIconFrameSize;
				color: rgba(255,255,255,0.6);
				cursor: pointer;
				text-align: center;
				line-height: $galleryIconFrameSize;
				font-size: 1.5rem;
				@include transition(color 0.4s);
			}
		}

		a {
			display: block;
			&:not(:first-of-type) {
				display: none;
			}
		}
	}
}


@media #{$medium} {


	// Pageheader is on top of every page and contains page name and breadcrumbs.

	#pageHeader {

		display: block;
		margin-top: 20px;
		margin-bottom: 20px;

		// displays page name above #sidebar
		h2 {
			font-size: 1rem;
			line-height: 26px;
			border-bottom: 1px solid lighten($body-font-color, 70%);
			margin-bottom: 0;
		}


		// Uses foundation breadcrumbs
		//
		// Added styles not in foundation mixin

		.breadcrumbs {
			border-bottom: 1px solid lighten($body-font-color, 70%);
			margin-bottom: 0;
			li {
				a {
					line-height: 26px;
				}
			}
		}
	}


	// list used for news and references
	.imageList
	{
		> article
		{
			.imageCell{ text-align: left; }
		}
	}

	#leftHandContent
	{

		.main-image {
			margin-bottom: 16px;
		}
	}


}

@media #{$large} {
	#leftHandContent {
		padding-left: 42px;
		padding-right: 42px;
	}
}