@media #{$screen} {





	// product section on frontpage
	//
	// Add backgroundcolor on the section and adjust margin/padding on the categorylist

	#products {

		padding: 80px 0;
		background: $light-grey;
		text-align: center;

		header {
			h2 {
				margin: 0 0 10px;
			}
			p {
				margin: 0 0 20px;
				&:last-child {
					margin: 0 0 60px;
				}
			}
		}

		.productCategoryList {
			padding-top: 0;
			padding-bottom: 0;
			a {
				margin-bottom: 20px;
			}
		}
	}	
	

	// Productlist
	//
	// Image with semi transparent text overlay
	// Used: frontpage, productCategory

	.productCategoryList {
		text-align: center;
		padding-top: 60px;
		padding-bottom: 80px;


		// standard
		a {
			display: block;
			margin-bottom: 40px;

			img {
				margin-bottom: 10px;
			}

			.productInfo {
				h3 {
					font-size: 1rem;
					line-height: 20px;
					margin: 0;
				}
				p {
					color: lighten($body-font-color, 25%);
				}
			}
			&:hover {
				.productInfo {
					h3 {
						color: $primary-color;
					}
				}
			}
		}


		&.animate {

			a {
				position: relative;
				overflow: hidden;

				img {
					margin-bottom: 0;
				}

				.productInfo {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					padding: 10px 0;
					margin: 0;
					background: rgba(255,255,255,0.6);
					color: $dark-grey;
					font-weight: $font-weight-bold;
					@include transition(padding 0.4s, background 0.4s);

					p {
						display: block;
						max-height: 0;
						overflow: hidden;
						margin: 0;
						padding: 0;
						line-height: 20px;
						@include transition(max-height 0.4s, padding 0.4s);
					}


				}
				&:hover {
					.productInfo {
						padding: 40px 0;
						background: rgba(255,255,255,0.95);
						p {
							max-height: 40px;
							padding: 10px 0 0;
						}
					}
				}
			}

			// zooming image hover style
			&.zoom {
				a {
					img {
						@include transform(scale(1));
						@include transition(transform 0.4s);
					}

					&:hover {
						img {
							@include transform(scale(1.3));
							@include transition(transform 4s);
						}
						.productInfo {
							padding: 20px 0;
							p {
								max-height: 0;
								padding: 0;
							}
						}
					}
				}
			}
		}
	}


	.productList {

		> article {
			position: relative;
			padding: 80px 0 0;

			&:after {
				display: block;
				width: 100%;
				height: 60px;
				border-bottom: 1px solid $light-grey;
				margin: 0 $column-gutter/2 60px;
			}
		}

		&.ver2 {
			> article {
				&:nth-child(even) {
					.columns {
						float: right;
						text-align: right;
					}
				}
			}
		}
	}
}




@media #{$medium} {


	// product section on the frontpage
	//
	// Kill bottom margin on the links

	#products {
		.productCategoryList {
			a {
				margin-bottom: 0px;
			}
		}
	}


}






