

@media #{$screen} {


	// Frontpage references

	#references {


		// foundation block grid
		//
		// added link styles

		ul {
			li {
				a {
					opacity: 0.6;
					@include transition(opacity 0.4s);
					p {
						margin: 6px 0 0;
					}
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}


}