@media #{$screen} {
	

	#searchResult {

		h4 {
			font-size: 1rem;
			padding: 0 0 10px;
			color: lighten($body-font-color, 40%);
			border-bottom: 1px solid $light-grey;
			margin: 0 0 20px;
			&:not(:first-of-type) {
				margin: 80px 0 20px;
			}
		}

		article {
			margin: 0 0 40px;
			h2 {
				font-size: 1.2rem;
				margin: 0 0 5px;
				a {
					color: $body-font-color;
					&:hover {
						color: $primary-color;
					}
				}
			}
			p {
				color: lighten($body-font-color, 20%);
			}
		}

	}


}