
$sharingIconSize: 34px;

@media #{$screen} {

	.sharing {

		> a {

			display: inline-block;
			width: $sharingIconSize;
			margin-right: 15px;

			i {
				display: block;
				width: $sharingIconSize;
				height: $sharingIconSize;
				border-radius: $sharingIconSize/2;
				text-align: center;
				line-height: $sharingIconSize;
				background: $primary-color;
				font-size: 1.4rem;
				color: #FFF;
				@include transition(background 0.4s, color 0.4s);
			}

			> span {
				display: block;
				text-align: center;
				padding-top: 6px;
			}

			&:hover {

				i {
					background: transparent;
					color: $primary-color;
				}

			}

		}

	}

}