

@media #{$screen} {

	#sidebar {

		// padding: 0;

		// Uses foundation side-nav
		// added support for nested list

		.side-nav {
			display: none;
			margin-bottom: 0;

			a {
				padding: 8px $column-gutter/2;
			}

			li {
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0 0 0 16px;
				}
			}
		}

		p {
			font-size: 0.8rem;
		}


		table
		{
			width: 100%;
			border: none;

			tr
			{
				background : transparent;

				td
				{
					color : $body-font-color;
					padding : 5px 0;

					&:last-child{ text-align: right; }
				}
			}

			&.underline tr td{ border-bottom: 1px solid $secondary-color; }
		}


		.shopHereBox
		{
			text-align: center;

			h4
			{
				font-size: 1.8rem;
				margin-bottom: 20px;
			}

			p{ font-size: 1rem; }

			a
			{
				width: 100%;
				display: inline-block;
				padding: 15px 0;
				color : $white;
				font-size: 1.4rem;
				text-transform: uppercase;
				background: $primary-color;
				border-radius: 3px;
			}
		}

	}

	#sidebarToggle {
		width: 100%;
		padding: 12px 20px;
		font-size: 0.8rem;
		border: 0;
		outline: none;
		box-shadow: none;
		&:focus {
			outline: none;
		}
	}

	.block
	{
		h4
		{
			margin-bottom: 10px;
			font-size : 1.4rem;
			line-height: 1.4rem;

			img.icon
			{
				max-width: 20px;
				margin-right: 5px;
				margin-top: -5px;
			}

			i
			{
				color: $primary-color;
				font-size: 22px;
				margin-right: 2px;
			}
		}

		p
		{
			margin-bottom: 0; 

			a
			{
				color : $body-font-color;
				font-size: 0.9rem;
				line-height: 1.7rem;
				text-decoration: underline;
			}
		}

		> *:last-child{ margin-bottom: 40px; }
	}

}

@media #{$medium} {

	#sidebar {

		padding: 0 $column-gutter/2;

		.side-nav {
			display: block !important;
			a {
				padding: 8px 0;

			}
		}

	}

}