// Set topbarheight to zero if removed from project.
$topbarHeight: 33px;


$mainHeaderHeight-small: 80px;
$mainHeaderHeight-large: 130px;


// Standard nav lineheight. Used for calculating the position
$standardNavLineheight: 60px;

// The size of the togglebutton. Change fontsize directly in the block.
$menuToggleSize: 40px;


// Calculates the different sizes of the contentpusher. 
$contentpusherHeight-small: $mainHeaderHeight-small;
$contentpusherHeight-medium: $mainHeaderHeight-small + $topbarHeight;
$contentpusherHeight-large: $mainHeaderHeight-large + $topbarHeight;


@media #{$screen} {


	#siteHeader {

		position: fixed;
		z-index: 10;
		width: 100%;
		background: $white;

		h1 {
			font-size: 1.2rem;
			line-height: $mainHeaderHeight-small;
			margin: 0;
			a {
				color: $body-font-color;
			}
		}

		#branding {

			display: block;
			width: 100%;
			padding-top: 8px;
			height: $mainHeaderHeight-small;

			img {
				display: block;
				margin-top: 22px;
				width: 100%;
			}
		}

		// optional topbar with leftside navigation and rightside searchform
		// Uses foundation visibility classes
		.topBar {
			height: $topbarHeight;
			background: $primary-color;


			// Top navigation
			ul {
				list-style-type: none;
				margin: 0;
				li {
					float: left;
					margin: 0 16px 0 0;
					a {
						display: inline-block;
						height: $topbarHeight;
						color: $light-grey;
						font-size: 0.8rem;
						text-transform: uppercase;
						line-height: $topbarHeight;
						opacity: 1;
						@include transition(opacity 0.2s);
						&:hover {
							opacity: 0.7;
						}
					}
				}
			}


			// Button before input in markup, floats right
			form {

				> * {
					display: block;
					margin: 0;
					padding: 0;
					float: right;
				}
				button {
					width: 20%;
					height: $topbarHeight;

					span
					{
						margin-left:10px;
						font-size: 0.8rem;
					}
				}
				input {
					height: $topbarHeight;
					width: 80%;
					margin: 0;
					padding: 0 10px;
					color: #FFF;
					border: none;
					box-shadow: none;
					background: transparent;

					@include transition(background 0.3s, width 0.3s, padding 0.3s);

					&:focus {
						outline: none;
						box-shadow: none;
						background: rgba(255,255,255,0.15);
					}
				}
			}
		}


		// Can we hook this up to the height var??
		#menuToggle {
			float: right;
			padding-top: ($mainHeaderHeight-small - $menuToggleSize)/2; 

			i {
				display: inline-block;
				text-align: center;
				width: $menuToggleSize;
				height: $menuToggleSize;
				line-height: $menuToggleSize;
				font-size: 2rem;
				background: transparent;
				cursor: pointer;
				@include transition(background 0.3s);

				&:before {
					line-height: $menuToggleSize;
				}

				&:hover {
					background: rgba(255,255,255,0.5);
				}
			}
		}
	}

	#siteNavigation {

		display: none;
		background: rgba(255,255,255,0.4);

		ul {
			list-style-type: none;
			margin: 0;

			li {
				width: 100%;
				text-align: center;

				a {
					display: inline-block;
					padding: 8px 0;
				}

				ul {
					background: rgba(0,0,0,0.05);
					
					li ul {
						display: none;
					}
				}
			}
		}

		&.open {
			display: block;
		}

		> .siteSearch {
			display: none;
		}

	}

	#contentPusher {
		width: 100%;
		height: $contentpusherHeight-small;
	}
}

@media #{$medium} {

	#contentPusher {
		height: $contentpusherHeight-medium;
	}

	#siteHeader #branding img {
		max-width: 240px;
	}
}


@media #{$large} {

	#contentPusher {
		height: $contentpusherHeight-large;
	}

	#siteHeader {
		h1 {
			line-height: $mainHeaderHeight-large;
		}

		#branding {
			height: $mainHeaderHeight-large;
			overflow: visible;
			padding-top: 10px;
			width: 100%;

			img {
				margin-top: 35px;
				max-width: 100%;
				width: 360px;
			}
		}

	}


	#siteNavigation {
		display: block !important;
		background: transparent;

		ul {
			li {
				width: auto;
			}
		}

		// standard navigation
		> ul {
			padding-top: 36px;
			margin: 0;
			float: right;

			> li {
				float: left;
				margin: 0 0 0 34px;
				position: relative;

				a {
					padding: 0;
					color: $body-font-color;
					font-size: 1rem;
					line-height: $standardNavLineheight;
					text-transform: uppercase;
					@include transition( color 0.3s );

					&:hover {
						color: $primary-color;
					}
				}

				&:hover {

					> ul {
						display: block;
					}
				}

				ul {
					display: none;
					background-color: $primary-color;
					position: absolute;
					padding-top: 0px;
					margin: 0px 0 0 0;
					top: 100%;
					left: 0;

					li {
						text-align: left;

						a {
							color: white;
							line-height: 3em;
							padding: 0 16px;
							white-space: nowrap;

							&:hover {
								color: white;
							}
						}
					}
				}
			}
		}


		> .blocks {
			position: relative;
			float: right;
			padding-top: 0;
			> li {
				float: left;
				position: relative;
				z-index: 1;
				margin: 0;
				> a {
					display: block;
					padding: 0 30px;
					height: $mainHeaderHeight-large;
					line-height: $mainHeaderHeight-large;
					background: transparent;
					box-shadow: 0 0 0 transparent inset;
					@include transition(background 0.3s, box-shadow 0.3s);


				}
				&:hover, &.active {
					> a {
						background: #FFF;
						box-shadow: 0 -3px 0 $primary-color inset;
					}					
				}
				&:hover {
					z-index: 2;
					> ul {
						max-height: 300px;
					}
				}

				// First level dropdown
				> ul {
					display: block;
					position: absolute;
					left: 0;
					top: 100%;

					max-height: 0;
					overflow: hidden;
					@include transition(max-height 0.5s);

					> li {
						float: none;
						position: relative;
						a {
							min-width: 160px;
							display: block;
							padding: 10px 30px;
							background: $primary-color;
							color: #FFF;

							@include transition(background 0.3s, color 0.3s);

							&:hover {
								background: #FFF;
								color: $primary-color;
							}
						}

						// Second level dropdown
						> ul {
							display: block;
							position: absolute;
							top: 0;
							left: 100%;
						}

						&:not(:last-child) {
							a {
								border-bottom: 1px solid rgba(255,255,255,0.3);
							}
						}
					}
				}
			}
		}

		> .siteSearch {
			position: relative;
			display: block;
			padding: 0 20px;
			float: right;
			height: $mainHeaderHeight-large;
			line-height: $mainHeaderHeight-large;
			box-shadow: 0 0 0 transparent inset;
			&:hover, &.active {
				background: #FFF;
				box-shadow: 0 -3px 0 $primary-color inset;
			}

			form {

				display: block;
				position: absolute;
				top: 100%;
				right: 0;
				height: 50px;
				width: 200px;

				max-height: 0;
				overflow: hidden;
				@include transition(max-height 0.4s);

				input {
					border: none;
					background: $primary-color;
					color: $light-grey;
					height: 50px;
					text-align: right;
					padding: 0 20px;

					@include placeholder{
						color: $light-grey;
					}
				}

				&.open {
					max-height: 50px;
				}
			}
		}
	}


}