


@media #{$screen} {


	#slideshow {

		position: relative;
		@include transition(height 0.5s, margin 0.5s);


		// static, simple slideshow
		&.static {

			margin: $column-gutter/2 0;

			.slide {
				position: relative;
				width: 100%;
				max-width: $row-width;
				padding: 0;
				margin: 0 auto;

				// Only show first slide
				display: none;
				&:first-child {
					display: block;
				}

				img {
					width: 100%;
					height: auto;
				}
				.slideContent {
					padding: 20px 0;


					.slideAction {

						a {
							display: block;
							width: 100%;
							text-align: center;
							background: $primary-color;
							color: #FFF;
							padding: 10px 0;
						}
					}
				}
			}
		}

		// shared styles for transitioning slideshows
		&.standard, &.fullscreen {

			height: 380px;

			.slide {

				position: absolute;
				width: 100%;
				height: 100%;

				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;

				z-index: 1;
				opacity: 0;
				@include transition(opacity 1.2s);

				&.active {
					z-index: 2;
					opacity: 1;
				}

				img {
					display: none;
				}
			}

		}


		// Standard 12 column wide slideshow with communication
		&.standard {

			position: relative;

			.wrapper {
				position: relative;
				width: 100%;
				max-width: $row-width - $column-gutter;
				height: 100%;
				margin: 0 auto;
			}

			.slide {

				.slideContent {
					position: absolute;
					bottom: 0;

					width: 100%;
					margin: 0 auto;
					padding: 20px;
					background: rgba(255,255,255,0.6);
				}



			}
		}

		// Full width slideshow with communication
		&.fullscreen {

			position: relative;

			.slide {

				// uses foundation grid for positioning.
				// Changes to positioning must be made in the markup.
				.slideContent {
					position: absolute;
					bottom: 0;

					width: 100%;
					padding: 20px 0;
					background: rgba(255,255,255,0.6);
				}

			}

		}


		// Next/prev buttons
		// icons set in app.js slideshow plugin initiaton. 
		// Uses ionicons by default.
		.slidenav {

			width: 60px;
			height: 60px;
			background: rgba(255,255,255,0.4);
			cursor: pointer;
			position: absolute;;
			top: 0; // Changes on medium
			text-align: center;
			z-index: 5;
			@include transition(top 0.5s);

			i {
				line-height: 60px;
				font-size: 2rem;
				@include transition(color 0.3s);
			}

			&.prev {
				left: 0;
			}
			&.next {
				right: 0;
			}

			&:hover {
				i {
					color: $primary-color;
				}
			}

		}

		// bullet navigation
		.navcontainer {

			position: absolute;
			top: 100%;
			width: 100%;
			height: 16px;
			margin-top: 12px;
			font-size: 0;
			text-align: center;

			.navitem {

				display: inline-block;
				width: 16px;
				height: 16px;
				border-radius: 8px;
				margin: 0 4px;
				background: #999;
				cursor: pointer;

				&.active {
					background: $primary-color;
				}

			}

		}

	}
}


@media #{$large} {
	#slideshow
	{
		// static, simple slideshow
		&.static
		{
			.slide
			{
				.slideContent
				{
					position: absolute;
					left: 0;
					bottom: 0;
					padding: 20px $column-gutter;
					background: rgba(255,255,255,0.9);

					.slideText
					{
						float: left;
						width: 60%;
					}

					.slideAction
					{
						float: left;
						width: 40%;
						padding-left: 40px;
					}


					&.box
					{
						left: auto;
						right: 10px;
						bottom: 10px;
						width: 22.5%;
						padding: 20px;
						border-radius: 5px;
						
						.slideText
						{
							float: none;
							width: auto;
							text-align : center;

							h2
							{
								text-align: center;
								font-size: 1.8rem;
							}
						}

						.slideAction
						{
							float: none;
							width: auto;
							padding-left: 0;
							font-size: 1.4rem;
							text-transform: uppercase;

							a
							{
								padding: 15px 0;
								border-radius: 3px;
							}
						}
					}
				}
			}
		}

		// shared styles for transitioning slideshows
		&.standard, &.fullscreen {

			height: 480px;

		}

		&.standard {
			margin: 0 0 40px;
		}


		// Full width slideshow with communication
		&.fullscreen {

			position: relative;
			height: 480px;

		}

		.slidenav {
			top: 50%;
			margin-top: -30px;
		}

	}
}


 @media #{$xlarge-up} {

 	#slideshow {

 		&.standard {

 			margin: 20px 0 40px; 

 		}

 	}

 }