

@media #{$screen} {	

	
	.pageWrapper {
		min-height: 100%;
	}

}


@media #{$medium} {

	// Sticky footer

	$footerHeight: 240px;
	
	html, body {
		height: 100%;
	}
	.pageWrapper {
		margin-bottom: -$footerHeight;

		&:after {
			content: '';
			display: block;
			height: $footerHeight;
		}
	}
	#siteFooter {
		height: $footerHeight;
	}
	

}