/*! Swipebox v1.2.8 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */

// Gradient mixin
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $from;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

// Bar mixin
@mixin bar($color) {
	background-color:$color;
	@include css-gradient( $color, darken($color, 20%) ); 
}

html.swipebox-html.swipebox-touch {
	overflow: hidden!important;
}

#swipebox-overlay img {
	border: none!important;
}

#swipebox-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999!important;
	overflow: hidden;
	user-select: none;
}

#swipebox-slider {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	white-space: nowrap;
	position: absolute;
	display: none;
	
	.slide {
		background: url(../images/swipebox/loader.gif) no-repeat center center;
		height: 100%;
		width: 100%;
		line-height: 1px;
		text-align: center;
		display: inline-block;
		
		&:before {
			content: "";
			display: inline-block;
			height: 50%;
			width: 1px;
			margin-right: -1px;
		}

		img, .swipebox-video-container {
			display: inline-block;
			max-height: 100%;
			max-width: 100%;
			margin: 0;
			padding: 0;
			width: auto;
			height: auto;
			vertical-align: middle;
		}

		.swipebox-video-container {
			background:none;
			max-width: 1140px;
			max-height: 100%;
			width: 100%;
			padding:5%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;

			.swipebox-video{
				width: 100%;
				height: 0;
				padding-bottom: 56.25%;
				overflow: hidden;
				position: relative; 
				iframe{
					width: 100%!important; 
					height: 100%!important;
					position: absolute;
					top: 0; left: 0;
				}
			}
		}
	}

}

#swipebox-action,
#swipebox-caption{
	position: absolute;
	left: 0;
	z-index: 999;
	height: 50px;
	width: 100%;
}

#swipebox-action {
	bottom: -50px;

	&.visible-bars {
		-moz-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}

	#swipebox-prev, 
	#swipebox-next, 
	#swipebox-close {
		background-image: url(../images/swipebox/icons.png);
		background-repeat: no-repeat;
		border: none!important;
		text-decoration: none!important;
		cursor: pointer;
		position: absolute;
		width: 50px;
		height: 50px;
		top: 0;
	}

	#swipebox-prev{
		background-position: -32px 13px;
		right: 100px;
	}

	#swipebox-next{
		background-position: -78px 13px;
		right: 40px;
	}

	#swipebox-close{
		background-position: 15px 12px;
		left: 40px;
	}

	#swipebox-prev,
	#swipebox-next{
		&.disabled{
			opacity: 0.3;
		}
	}
}

#swipebox-caption {
	top: -50px;
	text-align: center;
	
	&.visible-bars {
		-moz-transform: translateY(50px);
		-ms-transform: translateY(50px);
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
	}
}

#swipebox-slider.rightSpring {
	animation : rightSpring 0.3s;
}

#swipebox-slider.leftSpring {
	animation : leftSpring 0.3s;
}

@keyframes rightSpring {
	0% {
		margin-left: 0px;
	}

	50% {
		margin-left: -30px;
	}

	100% {
		margin-left: 0px;
	}
}

@keyframes leftSpring {
	0% {
		margin-left: 0px;
	}

	50% {
		margin-left: 30px;
	}

	100% {
		margin-left: 0px;
	}
}

@media screen and (max-width: 800px) {
	#swipebox-action #swipebox-close {
		left: 0;
	}

	#swipebox-action #swipebox-prev {
		right: 60px;
	}

	#swipebox-action #swipebox-next {
		right: 0;
	}
}

/* Skin 
--------------------------*/
#swipebox-overlay {
	background: #0d0d0d;
}

#swipebox-action,
#swipebox-caption {
	text-shadow: 1px 1px 1px black;
	@include bar(#0d0d0d);
	opacity: 0.95;
}

#swipebox-action {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#swipebox-caption {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color: white!important;
	font-size: 15px;
	line-height: 43px;
	font-family: Helvetica, Arial, sans-serif;
}