@media #{$screen} {

	
	// type general styles


	h1 {
		font-size: 2.2rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h4, h5, h6 {
		font-size: 1rem;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 20px;
	}



}